h1{
    font-size:60px;
    color:rgb(13, 46, 13);
    text-align: center;
} 
h2, h3, h4, h5, h6, p{
    color: #46484c;
    text-align: center;
}

b{
    color: #2b2222cc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf793;
}

.header {
    margin: 40px 20px 0 20px;
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    height: 100%;
    font-size: 0;
    line-height: 45px;;
  }

  li{
      display: inline;
  }
  ul>*{
    margin: 0 25px 0 25px;

  }

  .header > *{
      display:inline-block;
      /* Todos los hijos de clase header se les va a aplicar este diseño */
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
      color:#025157;
      font-family: sans-serif;

  }

  .logo{
      width: 15%;
  }
  .navbar{
      width:70%;
      text-align: left;
      color: green;
  }

  .actions{
      width:15%;
      font-size: 14px;
      text-align: left;
  }

  .actions>*{
    margin: 0 10px 0 10px;
  }
  .singin{
      color:#67b54b;
  }
  .btn{
      background-repeat:#67b54b;
      padding: 12px 14px 12px 14px;
      border: none;
      border-radius: 5px;  
    }
    .publish > h1{
        color:#025157;
    }
    .publish > p{
        color:#343434;
    }
    .publish > form {
        display: flex;
    }
    
    .btn-email{
        border-radius: 0 20px 20px 0;
        border: none;
        appearance: none;
        height: 30px;
    }
    .promo{
        display: flex;
        width: 70%;
        margin: 100px auto;
        align-items: center;
        gap: 10px;
    }
    .fixed-header{
        position:fixed;
        background-color: #f7f5f3;
        top:0;
        left:0;
        right:0;
        z-index: 1;
        
    }
    main{
        margin-top: 200px;
        text-align: center;
    }
    /*Postwork*/

    .brands{
        display: flex;
        background-color: #a1d683;
    }

    .face{
        height:250px;
        border-radius:20px 20px 0 0; 
    }
    .brands > *{
        margin: 80px 100px 60px 50px;
    }
    .section-2{
        background-color: #f7f5f3;
        border-radius:20px;
        position: relative;
        margin-top: 150px ;
        margin-bottom: 200px;
    }
    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .info>*{
        text-align: left;
    }
    .text>*{
        text-align: left;
        align-items: left;
    }
    .text{
        margin: 200px 100px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .text h1{
        font-family: "Alegreya", serif;
        font-size: 60px;
        font-size: 51px;
        line-height: 61px;
    }
   .logos{
       width: 100%;
   }
    .log{
        position: absolute;
        right: 20px;
        top: 200px;
        width:80px;
    }
    .features {
        display: grid;
        /* grid-template-columns: repeat(2,300px); */
        /* grid-template-columns: 500px 1fr; */
        /* fr divide el espacio disponible */
        grid-template:  340px 340px / 1fr 1fr;
        margin:40px 100px;
        background-color: teal;
    }
    /* .feature-art{ */
        /* background-color: green; */
        /* margin:10px; */
        /* width:40%; */
        /* height:330px; */
    /* } */

    .feature-art {
        display: flex;
        margin: 15px;
        background-color: white;
        border-radius: 5px;
    }
    .img-card{
        width:150px;
        height: 250px;
        overflow:hidden;
    }
    .img-card > img{
        height: 100%;
        justify-content: left;
    }
    .session-4{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-cards h1{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 50px;
    }
    .main-cards p, button{
        font-family:sans-serif;
    }
    .main-cards p{
        margin-top: -30px;
    }
    .main-cards button{
        background-color:rgb(2, 81, 87);
        border:none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .cards-main{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        column-gap: 3%;
        margin: 50px 150px;
    }
    .cards-main  img{
        width: 90%;
        height: 60%;
    }
    .cards{
        border: 1px solid rgb(206, 206, 206);
        border-radius: 5px;
        /* row-gap: 5px; */
        padding-bottom: 20px;
        position:relative;
    }
    .content-cards{
        padding-left: 30px;
        padding-right: 30px;
    }
    .content-cards > p{
        text-align: left;
        font-family: sans-serif;
        font-size: 15px;
        margin-top: -20px;
        padding-bottom: 50px;;
    }
    .content-cards > h3{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 30px;
    }
    .content-cards > a{
        position: absolute;
        bottom:10px;
        left: 30px;
    }
    .main-cards{
        width: 50%;
    }
    /*Si una pagina no ofrece un mensaje en los primeros 3 seg, el usuario se va, buenas prácticas*/
    
    /**Dispositivos moviles en vist viewport*/
    @media (max-width: 575px){
        main, body{
            background-color: rgb(252, 208, 128);
            width: 100%;
            text-align: center;
        }
        .navbar, .actions{
            display:none;
        }
        .titulo{
            font-size: 40px;
        }
        main{
            margin-top:130px;
        }
        .banner{
            width: 100%;
        }
        .fixed-header>*{
            width: 1vw;
        }
        .formato form{
            display: flex;
            flex-direction: column;
        } 
        .promo{
            flex-direction: column;

        }
        .section-brands{
            width: 100%;
        }
        .brands{
            flex-direction: column;
        }
        .features{
            grid-template-columns: 1fr;
            margin:0;
        }
        .feature-art{
            margin:0;
        }
        .cards-main{
            grid-template-columns: 1fr;
        }
    }
    /*dispositivos pequeños en vista landscape (horizontal)*/
    @media (min-width: 576px) and (max-width: 767px){
        
    }
    /*dispositivos medianos tablets*/
    @media (min-width: 768px) and (max-width: 991px){
        
    }
    /** dispositivos grandes (desktops)**/
    @media (min-width: 992px) and (max-width: 1199px){
        
    }
    /** dispositivos extra grandes (monitores grandes, tvs) **/
    @media (min-width: 1200px){
        body{
            background-color: rgb(252, 208, 128);
        }
    }