h1{
    color:#f7f5f3;
    text-align: center;
} 
h2, h3, h4, h5, h6, p{
    color: #46484c;
    text-align: center;
}

b{
    color: #2b2222cc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf793;
    background-image: url('https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80');
}

div{
    width: 500px;
    background-color: rgba(255, 245, 238, 0.616);
    margin: auto;
    border-radius: 10px;
}
form{
    margin-left: 50px;
}
img{
    width: 200px;
    display: block;
    margin: auto;
}