h1{
    color:#f7f5f3;
    text-align: center;
} 
h2, h3, h4, h5, h6, p{
    color: #46484c;
    text-align: center;
}

b{
    color: #2b2222cc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf793;
}

.header {
    margin: 40px 20px 0 20px;
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    height: 100%;
    font-size: 0;
    line-height: 45px;;
  }

  li{
      display: inline;
  }
  ul>*{
    margin: 0 25px 0 25px;

  }

  .header > *{
      display:inline-block;
      /* Todos los hijos de clase header se les va a aplicar este diseño */
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
      color:#025157;
      font-family: sans-serif;

  }

  .logo{
      width: 15%;
  }
  .navbar{
      width:70%;
      text-align: left;
      color: green;
  }

  .actions{
      width:15%;
      font-size: 14px;
      text-align: left;
  }

  .actions>*{
    margin: 0 10px 0 10px;
  }
  .singin{
      color:#67b54b;
  }
  .btn{
      background-repeat:#67b54b;
      padding: 12px 14px 12px 14px;
      border: none;
      border-radius: 5px;  
    }
    .publish > h1{
        color:#025157;
    }
    .publish > p{
        color:#343434;
    }
    .publish > form {
        display: flex;
    }
    
    .btn-email{
        border-radius: 0 20px 20px 0;
        border: none;
        appearance: none;
        height: 30px;
    }
    .promo{
        display: flex;
        width: 70%;
        margin: 100px auto;
        align-items: center;
    }